.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-brand{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; */
    color: darkcyan;
}
#christina{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; 
    color: darkcyan;
}
.fun {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
    text-decoration: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.fun:hover {
    text-decoration: none;
    color: rgb(4, 94, 94);
}

.fun.active {
    color: rgb(4, 94, 94);
}

body {
    
    background-image: linear-gradient(#ACFFCE, rgb(24, 68, 53));
}

.super {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p.wow {
    float: center;
    margin-left: 550;
    margin-top: 0;
    margin-right: 0;
}

.w {
    margin: 10px;
}

.i {
    margin: 10;
}