.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-brand{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; */
    color: darkcyan;
}
#christina{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; 
    color: darkcyan;
}
.fun {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkcyan;
    text-decoration: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.fun:hover {
    text-decoration: none;
    color: rgb(4, 94, 94);
}

.fun.active {
    color: rgb(4, 94, 94);
}

body {
    background-image: url("./christina-rossetti.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px 400px;
}
